---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/name: openstack-lightspeed-operator
    app.kubernetes.io/managed-by: kustomize
  name: openstack-config-reader
  namespace: openstack
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  resourceNames:
  - openstack-config
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - secrets
  resourceNames:
  - openstack-config-secret
  verbs:
  - get
  - list
